* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
canvas{
	border-radius: 20px;
}
input{
	border: 2px solid rgba(0, 0, 0, 0.125);
	padding: 10px 20px;
	outline: none;
	font-size: large;
}
.btn{
    background-color: #0d6efd;
    color: white;
    width: 45px;
	height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease-in-out;

}
.btn:hover{
  background-color: #0a58ca;
}
#nav-toggler{
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
}
#nav-toggler.active{
	transform: rotate(180deg);
}
.floating-nav{
	padding: 20px;
	position: absolute;
	top: 85px;
	right: 25px;
	width: 250px;
	height: 300px;
	background-color: transparent;
	border: 2px solid white;
	transform: translateX(120%);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	z-index: 2;
	border-radius: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	justify-content: flex-start;
	transition: all 0.5s ease-in-out;
}
.floating-nav.active{
	transform: translateX(0);
}
.entries{
	width: 100%;
	height: 45px;
	border-radius: 20px;
	transition: all 0.5s ease-in-out;

}
.entries:focus{
	border-color: #0d6efd;
	color: #0d6efd;
}
#search{
	position: absolute;
	bottom: 25px;
	left: 25px;
}
#new{
	position: absolute;
	bottom: 25px;
	right: 25px;
}


input::placeholder{
  transition: color 0.2s ease-in-out;
  color: rgba(0,0,0,0.5);
}
input:focus::placeholder{
  color: #0d6efd;
}
#open{
  position: absolute;
  right: 20px;
}

.show{
  display: block;
}

#bstrap-a{
  display: none;
  background-color: rgba(236, 200, 38, 0.836);
  position: absolute;
  text-align: center;
  font-size: larger;
  margin: 5px;
  padding: 20px;
  color: white;
  width: 400px;
  z-index: 2;
}
